<div class="footer-nav who">
  <h4 class="footer-nav--header">Who We Are</h4>
  <ul class="footer-nav--list">
    {% for nav in site.data.nav-main-who %}
      <li><a href="https://www.dai.com{{ nav.link }}">{{ nav.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="footer-nav our">
  <h4 class="footer-nav--header">Our Work</h4>
  <ul class="footer-nav--list">
    {% for nav in site.data.nav-main-our %}
      <li><a href="https://www.dai.com{{ nav.link }}">{{ nav.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="footer-nav stories">
  <h4 class="footer-nav--header">Publications</h4>
  <ul class="footer-nav--list">
    {% for nav in site.data.nav-main-publications %}
      <li><a href="https://www.dai.com{{ nav.link }}">{{ nav.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="footer-nav news">
  <h4 class="footer-nav--header">News</h4>
  <ul class="footer-nav--list">
    {% for nav in site.data.nav-main-news %}
      <li><a href="https://www.dai.com{{ nav.link }}">{{ nav.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="footer-nav working">
  <h4 class="footer-nav--header">Working with DAI</h4>
  <ul class="footer-nav--list">
    {% for nav in site.data.nav-main-working %}
      <li><a href="https://www.dai.com{{ nav.link }}">{{ nav.text }}</a></li>
    {% endfor %}
  </ul>
</div>
