@charset "utf-8";

// Components

.blogs-block{
  @include responsive(small-screens){
    margin-top: 92px;
    
  }
  @include responsive(medium-screens){
    margin-top: 114px;
  }
  @include responsive(wide-screens){
    margin-top: 127px;
    
  }
}
.bar{
  width: 4rem;
  border: 0;
  border-bottom: 8px solid $ofc_slate;
}

// MASTHEAD

.header-flat--logo{
  fill: $slate;  
}
.blog-masthead--logo{
  background-color: $slate;
  height: 10rem;
}
.blog-masthead{
  @include clearfix;

  //BOTH

  .blog-masthead--subscribe, .blog-masthead--search{
    padding: 15px;
    h3{
      margin-bottom: 0px;
    }
  }
}

  //SEARCH

.blog-masthead--search{
  width: 100%;
  background-color: $ofc_lightgray;
  color: $ofc_lightblue;
  @include responsive(wide-screens){
    width: 50%;
    float: left;
  }
  .search-icon{
      fill: $ofc_lightblue;
      height: 1.2rem;
      margin-right: .7rem;
    }
  h3{
    color: $ofc_lightblue;
  }
  input{
    margin-left: 1rem;
    font-weight: 700;
    border: none;
    background-color: $ofc-lightgray;
    outline: none;
    font-size: 1.2rem;
    color: $ofc_lightblue;
    &::placeholder{
      color: $ofc_lightblue;
    }
  }
}

  //SUBSCRIBE

.blog-masthead--subscribe{
  background-color: $ofc_slate;
  width: 100%;
  @include responsive(wide-screens){
    width: 50%;
    float: right;    
  }
  h3{
    color: #FFFFFF;
  }
  input{
    border: none;
    font-size: .7rem;
    background-color: $ofc_slate;
    border-bottom: 2px solid $ofc_lightblue;
    color: white;
    padding-bottom: 4px;
    margin-left: 3%;
    outline: none;
    width: 70%;
    &::placeholder{
      color: $ofc_lightblue;
    }
    @include  responsive(wide-screens){
      width: 50%;
    }
    @include responsive(ultra-wide-screens){
      width: 70%;
    }
  }
} 

// BLOG POSTS

.featured-header{
  @include clearfix;
  background-color: $ofc_lightblue;
  height: 12rem;
  overflow: hidden;
  position: relative;
  svg{
    width: 55%;
    position: absolute;
    top: 2rem;
    left: 2rem;
    stroke-width: 20;
    @include responsive(wide-screens){
      width: 60%;
    }
    @include responsive(ultra-wide-screens){
      width: 567px;
    }
  }
  .header-title{
    margin-left: 5rem;
    margin-top: 4rem;
    @include responsive(wide-screens){
      margin-top: 5rem;
    }
  }
  h2{
    color: $slate;
    font-size: 2.1rem;
    display: block;
    width: 40%;
    @include responsive(wide-screens){
      width: 45%;
    }
    @include responsive(ultra-wide-screens){
      width: 425.5px;
    }
  }
}
.featured-post{
  width: 100%;
  @include clearfix;
}
.post-data{
  width: 50%;
  float: left;
  padding: 1rem;
}
.post-blog{
  padding: 1.5rem;
  background-color: $ofc_slate;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  width: 50%;
  font-size: 1rem;
}

.featured-image{
  width: 50%;
  float: right;
  height: 35rem;
  background-size: cover;

}
.post-metadata{
  @include clearfix;
  font-size: .7rem;
  float: left;
  padding-left: 1.5rem;
  a{
    color: $ofc_super_lightblue;
  }
  .metadata-pic{
    img{
      float: left;
      margin-top: .4rem;
      clip-path: circle(50% at 50% 50%);
      width: 2rem;
    }
    a{
      margin-left: .5rem;
      font-weight: bold;
      position: relative;
      top: .1rem;
    }
  }
  .metadata-data{
    padding-left: 2.5rem;
    p{
      margin: 0;
      line-height: 1rem;
    }
    .seperator{
      font-size: 0.9rem;
      position: relative;
    }
  }
}
.post-title{
  margin-top: 4rem;
  padding-top: 2rem;
  font-size: 1.5rem;
}
.post-data--wrap{
  padding-left: 4rem;
  padding-right: 1rem;
}
.post-summary{
  margin-top: 1rem;
}

.post-data .button{
  background-color: $ofc_slate;
  padding: .5rem .3rem;
  border-radius: 5px;
  color: $text-white;
  display: block;
  margin: 1rem 0;
  width: 40%;
  text-align: center;
  font-size: .8rem;
}
.other-featured{
  background-color: $ofc_lightblue;
  width: 100%;
  min-height: 12rem;
  @include clearfix;
}

// FOOTER

.footer-flat--logo{
  fill: $nav_links;
}

.other-wrap{
  width: 40%;
  float: left;
  margin-top: 2rem;
  background-color: white;
  @include clearfix;
  &.odd{
      margin-left: 5%;
    }
  &.even{
      float: right;
      margin-right: 5%;
    }
  img{
    width: 100%;
  }
  .post-blog{
    float: none;
    width: 100%;
    padding: .7rem;
    font-weight: 300;
  }
}