<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include iehacks.html %}
  {% include head.html %}
  <body class="" >
    <div class="wrapper">
      {% include header.html %}
      <div class="inner-wrap blogs-block">
          {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body> 
  {%- if page.layout == "home" -%}
    <script>
      var elem = document.querySelector('.main-carousel');
      var flkty = new Flickity( elem, {
        // options
        groupCells: 3,
        autoPlay: true,
        wrapAround: true,
        cellAlign: 'left',
        contain: true
      });
    </script>
  {%- endif -%}
</html>
