<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include iehacks.html %}
  {% include head.html %}
  <body class="" >
    <div class="wrapper">
      {% include header.html %}
        <div class="inner-wrap blogs-block">
        <header class="blogs-header">
          <h1 class="blogs-header--title">
            <p class="blogs-header--description">
            </p>
            <ul class="blogroll">
              {%- comment -%} Step through all blogs listed in site.data.blogs {%- endcomment -%}
            </ul>
          </h1>
        </header>
        <div class="blogs-block featured">
          <div class="featured-post"><h2></h2>
          <img src="" alt="">
          <p></p>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul></div>
          <div class="featured-post"><h2></h2>
          <img src="" alt="">
          <p></p>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul></div>
          <div class="featured-post"><h2></h2>
          <img src="" alt="">
          <p></p>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul></div>  
        </div>
          {{ content }}
        </div>
    </div>
      {% include footer.html %}
    </div>
  </body> 
</html>
