---
layout: default
---
<div class="blog-masthead">
  <div class="blog-masthead--logo">
  
  </div>
  <div class="blog-masthead--search">
    <h3><svg class="search-icon" viewBox="0 0 447 446" preserveAspectRatio="xMinYMax meet"><use xlink:href="#search"></use></svg><input type="text" placeholder="Search"></h3>
  </div>
  <div class="blog-masthead--subscribe">
    <h3>Subscribe <input type="text" placeholder="Email Address"></h3>
  </div>
</div>    
<div class="blog-posts--featured">
  <svg class="border-rectrangle" viewBox="0 0 603 585" preserveAspectRatio="xMinYMax meet"><use xlink:href="#border-rectangle"></use></svg>
  <h2><span class="featured">FEATURE</span> <span class="featured-thing">ARTICLES</span></h2>
</div>
{%- for post in site.posts -%} 
    {%- if post.weight >= 8 -%}
    <div class="featured-posts--post">
      <div class="featured-post--blog">{{ site.title }}</div>
      <img src="{{ post.featured-image }}" alt="" class="featured-post--image">
      <div class="featured-post--metadata">
          {%- assign author = site.data.experts | where_exp:"expert", "expert.name == post.author" -%}
          {%- if author -%}
          <div class="metadata-pic">
            <img src="{{ author[0].image }}" alt="">
            <a href="{{ author[0].link }}">{{ author[0].name }}</a>
          </div>
          {%- else -%}
            <div class="metadata-pic">
              <img src="/uploads/author-placeholder.jpg" alt="">
              {{ post.author | markdownify | remove:"<p>" | remove:"</p>"}}
            </div>
          {%- endif -%}
          <div class="metadata-data">
            <p>Tags: {%- for tag in post.tags -%}{{ tag }} {%- endfor -%}</p>
            <p>{{ post.date | date: '%m/%d' }} | {% capture time %}{{ post.content | reading_time }}{% endcapture %}
    {{ time }} min read</p>
          </div>
      </div>
        <h4 class="featured-post--title">{{ post.title }}</h4>
    </div>
    {%- endif -%}
  {% endfor %}

