---
layout: default
---
<div class="blog-masthead">
  <div class="blog-masthead--logo">
  
  </div>
  <div class="blog-masthead--search">
    <h3><svg class="search-icon" viewBox="0 0 447 446" preserveAspectRatio="xMinYMax meet"><use xlink:href="#search"></use></svg><input type="text" placeholder="Search"></h3>
  </div>
  <div class="blog-masthead--subscribe">
    <h3>Subscribe <input type="text" placeholder="Email Address"></h3>
  </div>
</div>    
<div class="featured">
  <svg viewBox="0 0 603 585" preserveAspectRatio="xMinYMax meet"><use xlink:href="#border-rectangle"></use></svg>
  <div class="featured--title">
    <h2><span>FEATURE</span> <span class="emphasize">ARTICLES</span></h2>
    <hr class="bar">
  </div>
</div>
{%- assign toppost = site.posts | where_exp:"post","post.weight > 8"  -%}
{%- for post in toppost limit:1 -%} 
    <div class="featured-zero">
      <div class="featured-zero--blog">{{ site.title }}</div>
      <div class="featured-zero--image" style="background-image: url({{ post.featured-image }});"></div>
      <div class="featured-zero--post">
        <div class="featured-zero--author">
          {%- assign author = site.data.experts | where_exp:"expert", "expert.name == post.author" -%}
          {%- if author -%}
          <div class="featured-zero--author-pic">
            <img src="{{ author[0].image }}" alt="">
            <a href="{{ author[0].link }}">{{ author[0].name }}</a>
          </div>
          {%- else -%}
          <div class="featured-zero--author-pic">
            <img src="/uploads/author-placeholder.jpg" alt="">
            {{ post.author | markdownify | remove:"<p>" | remove:"</p>"}}
          </div>
          {%- endif -%}
          <div class="featured-zero--author-data">
            <p>Tags: {% for tag in post.tags %}<a href=" ">{{ tag }}</a> {% unless forloop.last %}<span class="seperator">•</span> {% endunless %} {% endfor %}</p>
            <p>{{ post.date | date: '%m/%d' }} | {% capture time %}{{ post.content | reading_time }}{% endcapture %} {{ time }} min read</p>
          </div>
        </div>
        <div class="featured-zero--post-wrap">
          <h4>{{ post.title }}</h4>
          <hr class="bar">
          <p>{{ post.summary}}</p>
          <a href="{{ post.url }}" class="button">READ MORE</a>
        </div>
      </div>
      
  {% endfor %}
  </div>
  <div class="featured-other">
  {%- for post in toppost offset:1 limit:2-%}
    <div class="featured-other--wrap {% cycle "odd", "even" %}">
      <div class="featured-other--blog">{{ site.title }}</div>
      <div class="featured-other--image" style="background-image: url({{post.featured-image}}); background-position: center; background-size: cover; ">
      
      </div> 
      <div class="featured-other--post">
          <div class="featured-other--author">
            {%- assign author = site.data.experts | where_exp:"expert", "expert.name == post.author" -%}
            {%- if author.size > 0 -%}
            <div class="featured-other--author-pic">
              <img src="{{ author[0].image }}" alt="">
              <a href="{{ author[0].link }}">{{ author[0].name }}</a>
            </div>
            {%- else -%}
            <div class="featured-other--author-pic">
              <img src="/uploads/author-placeholder.jpg" alt="">
              {{ post.author | markdownify | remove:"<p>" | remove:"</p>"}}
            </div>
            {%- endif -%}
            <div class="featured-other--author-data">
              <p>{{ post.date | date: '%m/%d' }} | {% capture time %}{{ post.content | reading_time }}{% endcapture %} {{ time }} min read</p>
            </div>
          </div>
          <div class="featured-other--post-wrap">
            <h4 class="featured-other--title">{{ post.title | truncate: 84 }}</h4>
            <hr class="bar">
            <p class="featured-other--summary">{{ post.summary | markdownify | remove:'<p>' | rmeove:'</p>' | truncate: 125}}</p>
            <a href="{{ post.url }}" class="button">READ MORE</a>
          </div>
        </div>
    </div>
  {%- endfor -%}
</div>
  <div class="main-carousel">
  <div class="carousel-cell"><h1>Here's the thing</h1></div>
  <div class="carousel-cell"><h1>..this is a slide in the deck..</h1></div>
  <div class="carousel-cell"><h1>...and another one right here.</h1></div>
</div>
